<ion-header>
  <ion-toolbar color="light" class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-bg">

  <!-- Imagen de usuario -->
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img src="assets/avatar.png" alt="avatar" />
    </ion-avatar>
  </div>

  <!-- Mandado Actual -->
  <div class="mandado-title">Mandado Actual</div>
   <ion-card class="pedido-card">
    <ion-item lines="none">
      <ion-icon name="navigate-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Estado del pedido</h2>
        <p>Descripción del objeto</p>
        <p>Hora</p>
      </ion-label>
      <ion-button fill="clear" color="dark" size="small">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <!-- Tabs entregados / en proceso -->
  <div class="tabs-container">
    <span
      class="tab"
      [ngClass]="{ active: currentTab === 'entregados' }"
      (click)="changeTab('entregados')"
    >
      Entregados
    </span>
    <span
      class="tab"
      [ngClass]="{ active: currentTab === 'enProceso' }"
      (click)="changeTab('enProceso')"
    >
      En proceso
    </span>
  </div>

  <!-- Contenido según pestaña -->
  <div *ngIf="currentTab === 'enProceso'">
    <ion-card class="pedido-card">
      <ion-item lines="none">
        <ion-icon name="navigate-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Estado del pedido</h2>
          <p>Descripción del objeto</p>
          <p>Hora</p>
        </ion-label>
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

    <ion-card class="pedido-card">
      <ion-item lines="none">
        <ion-icon name="navigate-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Estado del pedido</h2>
          <p>Descripción del objeto</p>
          <p>Hora</p>
        </ion-label>
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="currentTab === 'entregados'">
    <ion-card class="pedido-card">
      <ion-item lines="none">
        <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Pedido entregado</h2>
          <p>Descripción del objeto</p>
          <p>Hora</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- Botón solicitar mandado -->
  <div class="btn-container">
    <ion-button expand="block" shape="round" color="light">Solicitar Mandado</ion-button>
  </div>

</ion-content>
