.perfil-bg {
  --background: #e7c348; // Fondo amarillo

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 1.5rem;
  }

  .input-box {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    --border-radius: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
    --background: white;
  }

  .btn-primary {
    width: 100%;
    max-width: 250px;
    margin-top: 1rem;
    font-weight: bold;
    --background: #ffffff;
    color: black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  }

  .btn-secundario {
    width: 100%;
    max-width: 250px;
    margin-top: 0.8rem;
    font-weight: bold;
    background: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
}
