<ion-content class="login-bg" fullscreen>
  <div class="container">
    <h1 class="app-title">Mandaditos</h1>

    <img src="assets/mandado.png" alt="paquete" class="logo" />

    <h2 class="subtitle">Inicia Sesión</h2>

    <p class="description">
      Ingresa tu email para ingresar en esta aplicación
    </p>

    <form (ngSubmit)="onSubmit()">
      <ion-item lines="none" class="custom-input">
        <ion-input [(ngModel)]="email" name="email" type="email" placeholder="email@dominio.com" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="contraseña" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="continue-button">
        Continuar
      </ion-button>
    </form>

    <ion-button fill="clear" size="small" (click)="goRegister()">
      ¿No tienes cuenta? Regístrate aquí
    </ion-button>
  </div>
</ion-content>
